/*
TO DO: MAKE IT STYLIN'
*/
.brand-logo {
	margin-left: 10px;
}
.subtitle {
	font-size: 18px
}
.subtitle2 {
	font-size: 14px;
	margin-top: 10px;
}
.Launch {
	margin-top:10px;
}
.testDisplay {
	padding: 10px;
	margin:5px;
}
.canvas {
	padding:10px;
}
.headline {
	color:blue;
	padding-top: 10px
}

.display {
	color:green;
}

.vs {
	padding-left: 10px;
	padding-right: 10px;
}

.metrics {
	padding: 5px;
	color:gray;

}

.winnerText {
	color:purple;
}

.winner {
	background-color: #ffffcc;
}

.ng-dirty .ng-invalid {
	border-color: red;
	border-width: 3px;
}
.testContainer {
	margin:10px;
}

.newheadline {
	width: 500px;
	position:relative;
	display:inline;
}
.errorMessage {
	color:red;
	font-style: italic;
}
.newInput {
	width: 350px;
}
.searchBarContainer {
	margin-top:8px;
	width:300px;
}
.searchBar {
	width:375px;
}

.fa-spinner {
	margin:6px;
}