/*
TO DO: MAKE IT STYLIN'
*/
.headline {
	color:blue;
	padding-top: 10px
}

.display {
	color:green;
}

.vs {
	padding-left: 10px;
	padding-right: 10px;
}

.metrics {
	color:gray;
	font-style:italic;

}

.winnerText {
	color:purple;
}

.winner {
	background-color: #ffffcc;
}