<div ng-app="abArchive" ng-controller="testController as testCtrl">
		<div class="subtitle">New Ad Copy Test</div>
		<form name="newTestForm" novalidate>
			 <!-- AD VARIATION 1 BEGINS -->
			<div class="subtitle2"> Ad Variation 1 (Control) </div>
			<div class='newheadline'>
				<span class="label label-primary testSub">Headline:</span>
				<input class="newInput" type="text" name="headline_1" ng-model="testCtrl.ad1.headline" ng-maxLength="25">
				<span class="errorMessage" ng-show="newTestForm.headline_1.$invalid">Max 25 Chars</span>
			</div>
			<div class='description'>
				<span class="label label-default testSub">Description Line 1:</span>
				<input class="newInput" type="text" name="desc1_1" ng-model="testCtrl.ad1.descriptionLine1" ng-maxLength="35">
				<span class="errorMessage" ng-show="newTestForm.desc1_1.$invalid">Max 35 Chars</span>
			</div>
			<div class='description'>
				<span class="label label-default testSub">Description Line 2:</span>
				<input class="newInput" type="text" name="desc2_1" ng-model="testCtrl.ad1.descriptionLine2" ng-maxLength="35">
				<span class="errorMessage" ng-show="newTestForm.desc2_1.$invalid">Max 35 Chars</span>
			</div>
			<div class='displayURL'>
				<span class="label label-success testSub">Display URL:</span>
				<input class="newInput" type="text" name="dispURL_1" ng-model="testCtrl.ad1.displayURL" ng-maxLength="35">
				<span class="errorMessage" ng-show="newTestForm.dispURL_1.$invalid">Must be valid URL and Max 35 Chars</span>
			</div>
			<!-- AD VARIATION 2 BEGINS -->
			<div class="subtitle2"> Ad Variation 2 (Test) </div>
			<div class='newheadline'>
				<span class="label label-primary testSub">Headline:</span>
				<input class="newInput" type="text" name="headline_2" ng-model="testCtrl.ad2.headline" ng-maxLength="25">
				<span class="errorMessage" ng-show="newTestForm.headline_2.$invalid">Max 25 Chars</span>
			</div>
			<div class='description'>
				<span class="label label-default testSub">Description Line 1:</span>
				<input class="newInput" type="text" name="desc1_2" ng-model="testCtrl.ad2.descriptionLine1" ng-maxLength="35">
				<span class="errorMessage" ng-show="newTestForm.desc1_2.$invalid">Max 35 Chars</span>
			</div>
			<div class='description'>
				<span class="label label-default testSub">Description Line 2:</span>
				<input class="newInput" type="text" name="desc2_2" ng-model="testCtrl.ad2.descriptionLine2" ng-maxLength="35">
				<span class="errorMessage" ng-show="newTestForm.desc2_2.$invalid">Max 35 Chars</span>
			</div>
			<div class='displayURL'>
				<span class="label label-success testSub">Display URL:</span>
				<input class="newInput" type="text" name="dispURL_2" ng-model="testCtrl.ad2.displayURL" ng-maxLength="35">
				<span class="errorMessage" ng-show="newTestForm.dispURL_2.$invalid">Must be valid URL and Max 35 Chars</span>
			</div>
			<!-- SUBMIT BUTTON -->
			<input class= "Launch" type="submit" value="Launch" ng-click="testCtrl.addNew()">
		</form>

	</div>